$colors: (gray: (base:#dddddd, dark:#666666),
  white:(base:#ffffff));

@function theme($color, $type:'base', $map : $colors) {
  @if (map-has-key($map, $color)) {
    $value: map-get($map, $color);

    @if type-of($value)==color {
      @return $value;
    }

    @if (map-has-key($value, $type)) {
      $value: map-get($value, $type);

      @if type-of($value)==color {
        @return $value;
      }
    }
  }

  @return null;
}